<main class="flex flex-col gap-3">
    <div>
        <span class="text-branco opacity-70 font-extralight text-4xl">Feed</span>
    </div>
    <section class="bg-fundocinza rounded-2xl flex flex-row justify-center p-10">
        <div class="bg-fundo bg-opacity-20 rounded-2xl p-4 justify-between">
            <div class="flex flex-row justify-between gap-7">
                <div>
                    Icon
                </div>
                <div>
                    Andre
                </div>
                <div>
                    Café da manha
                </div>
                <div>
                    Dia-a-dia
                </div>
            </div>
        </div>
    </section>
</main>
