<div class="bg-fundocinza rounded-2xl flex flex-col items-center justify-center p-4">

    <div class="flex flex-row pb-6 pt-4 border-fundo border-b-2 mb-5 w-full justify-center gap-2">
        <img src="/edit.svg" alt="Post">
        <span class="text-fundo text-lg font-bold tracking-wide">
            Editar Post
          </span>
    </div>

    <div>
        <form [formGroup]="editForm" class="flex flex-col gap-5">
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <img src="/title.svg" alt="">
              </div>
              <input 
                type="text" 
                formControlName="titulo"
                placeholder="Título"
                class="bg-fundo px-3 py-3 w-full rounded-2xl text-branco pl-12"
              />
            </div>

            <div class="relative w-full" >
                <img 
                    src="/search.svg" 
                    alt="Buscar" 
                    class="absolute left-4 top-1/2 transform -translate-y-1/2 w-5 h-5 opacity-60 pointer-events-none"
                />
            
                <select
                    id="underline_select"
                    formControlName="tema"
                    class="bg-fundo px-3 py-3 w-full rounded-2xl text-branco pl-12"
                    >
                    <option value="" disabled selected>Escolha um tema</option>
                    @for (tema of temas; track tema.id) {
                        <option [value]="tema.descricao">
                        {{ tema.descricao }}
                        </option>
                    }
                </select>
            </div>

            <div>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <img src="/mensagem.svg" alt="">
                    </div>
                    <input 
                    type="text" 
                    formControlName="texto"
                    placeholder="Texto"
                    class="bg-fundo px-3 h-14 text-lg py-4 w-full rounded-2xl text-branco pl-12"
                  />
                  </div>
            </div>
          </form>
    </div>
    <div class="w-full pt-7">
      <button class="bg-amarelo rounded-2xl border p-3 disabled:opacity-70 w-full"
          (click)="submit()"
      >
          Editar
      </button>
  </div>
</div>
