<main class="flex flex-col items-center h-screen w-full justify-center">
    <section class="bg-fundocinza justify-center items-center pb-6 pr-10 pl-10 rounded-2xl">
        <div class="flex justify-center items-center">
            <img src="/logo.svg"/>
        </div>

        <div class="flex flex-row w-full gap-1 justify-center pb-7">
            <span>{{ subText }}</span>
            <a (click)="navigate()" class="text-amarelo">{{ yellowSubText }}</a> 
        </div>

        <div class="pb-5">
            <ng-content></ng-content>
        </div>

        <div>
            <button
                class="bg-amarelo w-full rounded-2xl border pt-2 pb-2 disabled:opacity-70"
                (click)="sumbit()"
                [disabled]="disableButton"
                >{{ bttnText }}
            </button>
        </div>
    </section>
</main>
